<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common :: link"></div>
    <div th:replace="common :: styles"></div>
    <title>CodeFellowship</title>
</head>
<body>
    <header>
        <div th:replace="common :: nav"></div>
        <h1>Welcome to Code Fellowship</h1>
    </header>
    <main>
        <p>Engaging in a coding bootcamp is not for the faint of heart.<br/>
        Committing to six months of intensive training will push you to your limits.<br/>
        In order to complete this journey, you'll need to wield every tool in your<br/>
        arsenal, including the people around you.</p>

        <p>This web app exists to connect fellow bootcamp trainees in their path<br/>
        through code fellows and beyond. <a href="/sign-up">Sign up here</a> to connect, share resources, <br/>
        and commiserate. Hoo-ah!</p>

    </main>
    <footer>
    </footer>
</body>
</html>