<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CodeFellowship</title>
</head>
<body>
    <header>
        <h1>Welcome to Code Fellowship</h1>
    </header>
    <main>
        <p>Engaging in a coding bootcamp is not for the faint of heart.<br/>
        Committing to six months of intensive training will push you to your limits.<br/>
        In order to complete this journey, you'll need to wield every tool in your<br/>
        arsenal, including the people around you.</p>

        <p>This web app exists to connect fellow bootcamp trainees in their path<br/>
        through code fellows and beyond. Sign up below to connect, share resources, <br/>
        and commiserate. Hoo-ah!</p>

        <div><a href="/sign-up">Sign-Up Here</a></div>
        <div><a href="/profiles">User Profiles</a></div>

    </main>
    <footer>

    </footer>
</body>
</html>