<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common :: link"></div>
    <div th:replace="common :: styles"></div>
    <title>CodeFellowship</title>
</head>
<body>
    <header>
        <div th:replace="common :: nav"></div>
        <h1>User Profiles</h1>
    </header>
    <main>

        <img src="/ben-sweet-456320-unsplash.jpg"/>

        <ul>
            <li th:text="${profile.username}"></li>
            <li th:text="${profile.firstName}"></li>
            <li th:text="${profile.lastName}"></li>
            <li th:text="${profile.dateOfBirth}"></li>
            <li th:text="${profile.bio}"></li>
        </ul>

        <form th:if="${principleID == profile.id}" th:action="${'/blogPost/' + profile.id}" method="post">
            <label for="blogPostBody">Blog Post:</label>
            <input type="text" name="blogPostBody" id="blogPostBody">
            <input type="submit">
        </form>

        <h3>Blog Posts</h3>
        <ul>
            <li th:each="post : ${posts}">
                <p th:text="${post.body}"></p>
                <p th:text="${post.recordedAt}"></p>
            </li>
        </ul>

    </main>
    <footer>

    </footer>
</body>
</html>