<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common :: link"></div>
    <div th:replace="common :: styles"></div>
    <title>CodeFellowship</title>
</head>
<body>
<header>
    <div th:replace="common :: nav"></div>
    <h1>Login</h1>
</header>
<main>

    <form action="/perform_login" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">

        <label for="password">Password:</label>
        <input type="text" name="password" id="password">

        <input type="submit">
    </form>

    <a href="/index"> Home </a>
</main>
<footer>

</footer>
</body>
</html>