<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common :: link"></div>
    <div th:replace="common :: styles"></div>
    <title>CodeFellowship</title>
</head>
<body>
    <header>
        <div th:replace="common :: nav"></div>
        <h1>Unsafe Input Provided</h1>
    </header>
    <main>
        <p>Please do not provide hazardous input to our application. <br/>
            Abusers of the app will be removed. Please navigate back <br/>
            to your profile to connect with other users.</p>
    </main>
    <footer>
    </footer>
</body>
</html>