<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common :: link"></div>
    <div th:replace="common :: styles"></div>
    <title>CodeFellowship</title>
</head>
<body>
    <header>
        <div th:replace="common :: nav"></div>
        <h1>User Profiles</h1>
    </header>
    <main>
        <ul>
            <li th:each="profile : ${profiles}">
                <a th:href="${'users/'+profile.id+'/show'}"><p th:text="${profile.bio}"></p></a>
            </li>
        </ul>
    </main>
    <footer>

    </footer>
</body>
</html>